[tool.poetry]
name = "py-serializable"
version = "0.16.0"
description = "Library for serializing and deserializing Python Objects to and from JSON and XML."
authors = ["Paul Horton <paul.horton@owasp.org>"]
maintainers = ["Paul Horton <paul.horton@owasp.org>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/madpah/serializable"
repository = "https://github.com/madpah/serializable"
packages = [
    { include = "serializable" }
]
classifiers = [
    # Trove classifiers - https://packaging.python.org/specifications/core-metadata/#metadata-classifier
    # Full list: https://pypi.python.org/pypi?%3Aaction=list_classifiers
    'Development Status :: 4 - Beta',
    'Intended Audience :: Developers',
    'Intended Audience :: Information Technology',
    'Topic :: Software Development',
    'License :: OSI Approved :: Apache Software License',
    'Programming Language :: Python :: 3.7',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Typing :: Typed'
]
keywords = [
    "serialization", "deserialization", "JSON", "XML"
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/madpah/serializable/issues"

[tool.poetry.dependencies]
python = "^3.7"
defusedxml = "^0.7.1"

[tool.poetry.dev-dependencies]
coverage = "7.2.1"
flake8 = "5.0.4" # last version supporting Python 3.7
flake8-annotations = "2.9.1" # last version supporting Python 3.7
flake8-bugbear = "22.12.6" # last version supporting Python 3.7
flake8-isort = "4.2.0"
isort = "5.11.5" # last version supporting Python 3.7
mypy = "1.4.1"
tox = "3.28.0"
typing-extensions = {version = "4.5.0", python = "<3.8"}
xmldiff = "2.6.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.semantic_release]
# see https://python-semantic-release.readthedocs.io/en/latest/configuration.html
# currently running in CI: v7.34.6
commit_message = "chore(release): {version}\n\nAutomatically generated by python-semantic-release"
version_toml = "pyproject.toml:tool.poetry.version"
version_variable = [
    "serializable/__init__.py:__version__",
    "docs/conf.py:release",
]
branch = "main"
upload_to_pypi = true
upload_to_release = true
build_command = "pip install poetry==1.1.12 && poetry build"